div{
    width: 300px;
    border: 4px dotted rgb(240, 7, 7);
    text-align: justify;
    
    
    
}
body{
    background-color: rgb(219, 12, 12);
    background-image: url("../images.png");
    background-repeat: no-repeat;
    background-size: cover;
}